/* CSS - MASTER */

@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil:700');


body {
	font-family: 'Stardos Stencil', cursive ; text-align: center;
}

header {
	text-transform: uppercase;
	text-align: center; 
	padding: 0px 25px 0; 	
	font-size: 40px;
	border-bottom: .1em inset gray;
}

aside {
	padding-top: 1em;
}

/* article.attractions { width: 80%; margin: 35px auto 75px auto; } */
/* article.attractions::after { content:''; display: block; clear: both; } */
article.attractions aside { width: 19%; float: left; text-align: center; min-height: 140px; }
article.attractions aside > img { width: 90%; height: 90%; border-radius: 50%; border: 5px solid rgba(224, 198, 64, 0.34); margin-bottom: 15px; }


blockquote { 
	padding: 30px 40px;  
	font-family: 'Bitter',serif; 
	font-size: 18px; 
	border-left: 5px solid #9a9090;
	margin: 20px 40px; 
	color: #a9a9a9; 
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 3px solid #1aaaaa; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .08em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



/* Media Queries */
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 600px) {
article.attractions aside { width: 49%; float: left; text-align: center; min-height: 140px; }
}

@media screen and (max-width: 421px) {
article.attractions aside { width: 95%; float: left; text-align: center; min-height: 140px; }
}